@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

.header {
	padding: 50px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	background-color: #71ac85;
}

.footer {
	padding: 50px;
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	background-color: #71ac85;
}

.overtitle {
	padding-left: 30px;
	font-size: 12px;
	font-weight: 700;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
}

.title {
	font-size: 36px;
	font-weight: 900;
	line-height: 116.6%;
	letter-spacing: 0px;
}

/*about*/

.main__about {
	margin: -80px 0 50px 0;
}
.about {
	color: #fff;
}

.about__container {
	position: relative;
	margin: 0 auto;
	padding: 100px 87px 0;
	max-width: 1020px;
	background: #5d62b5;
	border-radius: 40px;
}

.about__container::before {
	position: absolute;
	content: "";
	background: url(../img/bg.png) center;
	width: 665px;
	height: 691px;
	top: 210px;
	left: 0;
}

.about__container::after {
	position: absolute;
	content: "";
	background: url(../img/decoration.svg) no-repeat;
	width: 665px;
	height: 691px;
	top: -67px;
	right: -580px;
}

.about__overtitle {
	position: relative;
	margin-bottom: 33px;
}

.about__overtitle::before {
	position: absolute;
	content: "";
	width: 20px;
	height: 20px;
	background: url(../img/overline_02.svg);
	top: -1px;
	left: 0;
}

.about__title {
	margin-bottom: 35px;
}

.about__text {
	margin-bottom: 54px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #f5f5f5;
}

.about__img {
	position: relative;
	text-align: center;
}

.about__img img {
	margin-bottom: -120px;
	box-shadow: 0px 16px 24px 0px #26262633, 0px 8px 16px 0px #2626263d;
	border-radius: 40px;
}
